@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto+Slab&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 1600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav {
  width: 1400px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  width: 507px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
header nav ul a {
  text-decoration: none;
  color: #18216D;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
header nav .nav-btn {
  width: 239px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .nav-btn .btn1 {
  color: #18216D;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border: none;
  background-color: transparent;
  text-align: left;
}
header nav .nav-btn .btn2 {
  width: 136px;
  height: 52px;
  border-radius: 6px;
  background: #18216D;
  border: none;
  color: #FFF;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

section {
  width: 1155px;
  height: auto;
  margin-top: 40px;
}
section .home {
  width: 1155px;
  height: auto;
  display: flex;
  justify-content: space-between;
}
section .home .home-info {
  width: 498px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-top: 60px;
}
section .home .home-info h1 {
  width: 498px;
  color: #18216D;
  font-family: "Inter";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
section .home .home-info p {
  color: #18216D;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
section .home .home-info .home-btn {
  width: 180px;
  height: 66px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #00ECD0;
  color: #18216D;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  margin-top: 18px;
}
section .rating {
  width: 1155px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 122px;
}
section .rating h1 {
  width: 494px;
  color: #18216D;
  font-family: " Inter";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
}
section .rating .rating-item {
  display: flex;
  gap: 93px;
}
section .rating .rating-item .rating-info1 {
  width: 137px;
  height: 134px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
section .rating .rating-item .rating-info1 h1 {
  color: #18216D;
  font-family: "Inter";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
}
section .rating .rating-item .rating-info1 .rating-rasm {
  display: flex;
  gap: 5px;
}
section .rating .rating-item .rating-info1 p {
  width: 136px;
  color: #18216D;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
section .logos {
  width: 1110px;
  height: 34.882px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
}
section .features {
  width: 1155px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 132px;
}
section .features .features-info {
  width: 542px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
section .features .features-info h1 {
  color: #18216D;
  font-family: "Inter";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: -1px;
  text-transform: capitalize;
  width: 463px;
}
section .features .features-info p {
  color: #18216D;
  text-align: center;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 542px;
}
section .features .features-item {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 80px;
  margin-top: 48px;
}
section .features .features-item .features-item-info {
  width: 320px;
  height: 267px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
section .features .features-item .features-item-info h1 {
  color: #18216D;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
section .features .features-item .features-item-info p {
  width: 320px;
  color: #18216D;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
section .features .features-item .features-item-info a {
  text-decoration: none;
  color: #18216D;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.calendar {
  width: 1600px;
  height: 593px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 130px;
}
.calendar .back {
  opacity: 0.05;
  background: #005FEC;
  width: 1600px;
  height: 593px;
  position: absolute;
  z-index: -1;
}
.calendar .calendar-item {
  width: 1155px;
  height: auto;
  display: flex;
  align-items: center;
  gap: 90px;
}
.calendar .calendar-item .calendar-info {
  width: 487px;
  height: 307px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.calendar .calendar-item .calendar-info h1 {
  color: #18216D;
  font-family: "Inter";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
}
.calendar .calendar-item .calendar-info p {
  width: 487px;
  color: #18216D;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.calendar .calendar-item .calendar-info button {
  width: 160px;
  height: 52px;
  border-radius: 6px;
  background: #005FEC;
  color: #FFF;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

.powering {
  width: 1155px;
  height: auto;
  display: flex;
  align-items: flex-start;
  gap: 196px;
  margin-top: 130px;
}
.powering .powering-item {
  width: 400px;
  height: 450px;
  position: relative;
}
.powering .powering-item .powering-item-info {
  width: 184px;
  height: 150px;
  border-radius: 6px;
  background: #FFF;
  box-shadow: -4px 8px 20px 0px rgba(24, 33, 109, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: absolute;
  bottom: -58px;
  right: -101px;
}
.powering .powering-item .powering-item-info .powering-weekly {
  width: 134px;
  height: 70px;
  flex-shrink: 0;
}
.powering .powering-item .powering-item-info button {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  background: #DAE9FF;
  color: #005FEC;
  font-family: "Inter";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  border: none;
}
.powering .powering-item .powering-tocka {
  position: absolute;
  left: -71px;
  bottom: -34px;
}
.powering .powering-info {
  width: 496px;
  height: 444px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.powering .powering-info h1 {
  width: 496px;
  color: #18216D;
  font-family: "Inter";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
}
.powering .powering-info p {
  width: 446px;
  color: #18216D;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.powering .powering-info .powering-info-item {
  width: 309.983px;
  height: 107.97px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.powering .powering-info .powering-info-item .powering-frame {
  display: flex;
  align-items: center;
  gap: 16px;
}
.powering .powering-info .powering-info-item .powering-frame input {
  width: 19.973px;
  height: 19.97px;
}
.powering .powering-info .powering-info-item .powering-frame p {
  color: #18216D;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.powering .powering-info button {
  width: 164px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #005FEC;
  color: #FFF;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  border: none;
}

.pricing {
  width: 1155px;
  height: 944px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 189px;
}
.pricing .pricing-title {
  color: #18216D;
  text-align: center;
  font-family: "Inter";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: -1px;
  text-transform: capitalize;
}
.pricing .pricing-text {
  width: 542px;
  text-align: center;
  color: #18216D;
  text-align: center;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
}
.pricing .pricing-item1 {
  width: 272px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.pricing .pricing-item1 .pricing-back {
  width: 272px;
  height: 60px;
  border-radius: 6px;
  opacity: 0.1;
  background: #005FEC;
  position: absolute;
  z-index: -5;
}
.pricing .pricing-item1 .pricing-btn1 {
  width: 133px;
  height: 48px;
  border-radius: 6px;
  background: #FFF;
  color: #005FEC;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  border: none;
}
.pricing .pricing-item1 .pricing-btn2 {
  width: 133px;
  height: 48px;
  background: transparent;
  border: none;
  color: #18216D;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}
.pricing .pricing-item2 {
  width: 1155px;
  height: 620px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}
.pricing .pricing-item2 .pricing-item2-info {
  width: 355px;
  height: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.pricing .pricing-item2 .pricing-item2-info .pricing-item2-line {
  width: 355px;
  height: 1px;
  opacity: 0.2;
  background: #000;
  position: absolute;
  top: 160px;
}
.pricing .pricing-item2 .pricing-item2-info .pricing-item2-back {
  width: 355px;
  height: 620px;
  border-radius: 10px;
  border: 1px solid #232629;
  opacity: 0.2;
  position: absolute;
  z-index: -2;
}
.pricing .pricing-item2 .pricing-item2-info .pricing-item2-frame1 {
  width: 352px;
  height: 160px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  border-radius: 10px 10px 0px 0px;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  padding: 22px 41px;
  margin-top: 2px;
}
.pricing .pricing-item2 .pricing-item2-info .pricing-item2-frame1 h3 {
  width: 63px;
  height: 48px;
  color: #18216D;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
}
.pricing .pricing-item2 .pricing-item2-info .pricing-item2-frame1 h1 {
  color: #18216D;
  font-family: "Inter";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
}
.pricing .pricing-item2 .pricing-item2-info .pricing-item2-frame2 {
  width: 352px;
  height: 456px;
  border-radius: 0px 0px 10px 10px;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  padding: 39px 41px;
  gap: 40px;
}
.pricing .pricing-item2 .pricing-item2-info .pricing-item2-frame2 .pricing-item2-frame2-info {
  width: 249px;
  height: 269px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.pricing .pricing-item2 .pricing-item2-info .pricing-item2-frame2 .pricing-item2-frame2-info .inp {
  display: flex;
  align-items: center;
  gap: 12px;
}
.pricing .pricing-item2 .pricing-item2-info .pricing-item2-frame2 .pricing-item2-frame2-info .inp p {
  color: #18216D;
  font-family: "Poppins";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.pricing .pricing-item2 .pricing-item2-info .pricing-item2-frame2 .pricing-item2-frame2-info .inp img {
  width: 22px;
  height: 22.393px;
  flex-shrink: 0;
}
.pricing .pricing-item2 .pricing-item2-info .pricing-item2-frame2 button {
  width: 181px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #d0e0f8;
  color: #18216D;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border: none;
}

.testimonial {
  width: 1600px;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 130px;
  position: relative;
}
.testimonial .testimonial-back {
  width: 1600px;
  height: 650px;
  background: #FAFAFA;
  position: absolute;
  z-index: -8;
}
.testimonial .testimonial-item {
  width: 1155px;
  display: flex;
  gap: 106px;
  align-items: center;
}
.testimonial .testimonial-item .testimonial-info {
  width: 616px;
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.testimonial .testimonial-item .testimonial-info h1 {
  color: #18216D;
  font-family: "Inter";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
}
.testimonial .testimonial-item .testimonial-info p {
  width: 614px;
  color: #18216D;
  font-family: "Inter";
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 44px;
  opacity: 0.9;
  margin-top: 55px;
}
.testimonial .testimonial-item .testimonial-info span {
  color: #18216D;
  font-family: "Inter";
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin-top: 33px;
}
.testimonial .testimonial-item .testimonial-info h6 {
  color: #18216D;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.6;
  margin-top: 6px;
}

.footer {
  width: 1155px;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-top: 120px;
}
.footer .footer-metting {
  width: 248px;
  height: 166px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
}
.footer .footer-metting p {
  width: 248px;
  color: #18216D;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.9;
}
.footer .footer-metting .download {
  width: 212px;
  display: flex;
  gap: 12px;
}
.footer .resources {
  width: 113px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 31px;
  margin-left: 55px;
}
.footer .resources h1 {
  color: #18216D;
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
.footer .resources ul {
  width: 117px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
}
.footer .resources ul a {
  text-decoration: none;
  color: #18216D;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  opacity: 0.9;
}
.footer .contact {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 31px;
  margin-left: 128px;
}
.footer .contact h1 {
  color: #18216D;
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
.footer .contact ul {
  width: 300px;
  height: 120px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .contact ul a {
  color: #18216D;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  opacity: 0.8;
}

.line {
  width: 1170px;
  height: 1px;
  opacity: 0.1;
  background: #18216D;
  margin-top: 60px;
}

.end {
  color: #18216D;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.8;
  margin-top: 30px;
  margin-bottom: 57px;
}/*# sourceMappingURL=dotcom.css.map */