@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto+Slab&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

header {
    // border: 2px solid blue;
    width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;

    nav {
        width: 1400px;
        height: 52px;
        // border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            width: 507px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;

            a {
                text-decoration: none;
                color: #18216D;
                font-family: 'Inter';
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
            }
        }

        .nav-btn {
            width: 239px;
            height: 52px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // border: 1px solid black;

            .btn1 {
                color: #18216D;
                font-family: 'Inter';
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                border: none;
                background-color: transparent;
                text-align: left;
            }

            .btn2 {
                width: 136px;
                height: 52px;
                border-radius: 6px;
                background: #18216D;
                border: none;
                color: #FFF;
                font-family: 'Inter';
                font-size: 17px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
            }
        }
    }
}

section {
    width: 1140px;
    height: auto;
    margin-top: 40px;

    .home {
        width: 1140px;
        height: auto;
        display: flex;
        justify-content: space-between;

        .home-info {
            width: 498px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            margin-top: 60px;

            h1 {
                width: 498px;
                color: #18216D;
                font-family: 'Inter';
                font-size: 48px;
                font-style: normal;
                font-weight: 600;
                line-height: 60px;
            }

            p {
                color: #18216D;
                font-family: 'Inter';
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
            }

            .home-btn {
                width: 180px;
                height: 66px;
                flex-shrink: 0;
                border-radius: 6px;
                background: #00ECD0;
                color: #18216D;
                font-family: 'Inter';
                font-size: 17px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                border: none;
                margin-top: 18px;
            }
        }
    }

    .rating {
        width: 1140px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 122px;

        h1 {
            width: 494px;
            color: #18216D;
            font-family: ' Inter';
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: 50px;
        }

        .rating-item {
            display: flex;
            gap: 93px;

            .rating-info1 {
                width: 137px;
                height: 134px;
                // border: 1px solid red;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;

                h1 {
                    color: #18216D;
                    font-family: 'Inter';
                    font-size: 60px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 70px;
                    letter-spacing: -1px;
                }

                .rating-rasm {
                    display: flex;
                    gap: 5px;
                }

                p {
                    width: 136px;
                    color: #18216D;
                    font-family: 'Inter';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                }
            }
        }
    }

    .logos {
        width: 1110px;
        height: 34.882px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 49px;
    }

    .features {
        width: 1140px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 132px;

        .features-info {
            width: 542px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;

            h1 {
                color: #18216D;
                font-family: 'Inter';
                font-size: 48px;
                font-style: normal;
                font-weight: 600;
                line-height: 64px;
                letter-spacing: -1px;
                text-transform: capitalize;
                width: 463px;
            }

            p {
                color: #18216D;
                text-align: center;
                font-family: 'Inter';
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
                width: 542px;
            }
        }

        .features-item {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            gap: 80px;
            margin-top: 48px;

            .features-item-info {
                width: 320px;
                height: 267px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;

                h1 {
                    color: #18216D;
                    font-family: 'Inter';
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }

                p {
                    width: 320px;
                    color: #18216D;
                    font-family: 'Inter';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                }

                a {
                    text-decoration: none;
                    color: #18216D;
                    font-family: 'Inter';
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 16px;
                }
            }
        }
    }
}

.calendar {
    width: 1600px;
    height: 593px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 130px;

    .back {
        opacity: 0.05;
        background: #005FEC;
        width: 1600px;
        height: 593px;
        position: absolute;
        z-index: -1;
    }

    .calendar-item {
        width: 1140px;
        height: auto;
        display: flex;
        align-items: center;
        gap: 90px;

        .calendar-info {
            width: 487px;
            height: 307px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            h1 {
                color: #18216D;
                font-family: 'Inter';
                font-size: 36px;
                font-style: normal;
                font-weight: 600;
                line-height: 48px;
            }

            p {
                width: 487px;
                color: #18216D;
                font-family: 'Inter';
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
                // opacity: 0.8;
            }

            button {
                width: 160px;
                height: 52px;
                border-radius: 6px;
                background: #005FEC;
                color: #FFF;
                font-family: 'Inter';
                font-size: 17px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                border: none;
            }
        }
    }
}

.powering {
    width: 1140px;
    height: auto;
    display: flex;
    align-items: flex-start;
    gap: 196px;
    margin-top: 130px;

    .powering-item {
        width: 400px;
        height: 450px;
        position: relative;
        // border: 1px solid red;

        .powering-item-info {
            width: 184px;
            height: 150px;
            border-radius: 6px;
            background: #FFF;
            box-shadow: -4px 8px 20px 0px rgba(24, 33, 109, 0.05);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;
            position: absolute;
            bottom: -58px;
            right: -101px;

            .powering-weekly {
                width: 134px;
                height: 70px;
                flex-shrink: 0;
            }

            button {
                width: 100px;
                height: 30px;
                border-radius: 4px;
                background: #DAE9FF;
                color: #005FEC;
                font-family: 'Inter';
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                border: none;
            }
        }


        .powering-tocka {
            position: absolute;
            left: -71px;
            bottom: -34px;
        }
    }

    .powering-info {
        width: 496px;
        height: 444px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        // border: 1px solid red;

        h1 {
            width: 496px;
            color: #18216D;
            font-family: 'Inter';
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: 48px;
        }

        p {
            width: 446px;
            color: #18216D;
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
        }

        .powering-info-item {
            width: 309.983px;
            height: 107.97px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            .powering-frame {
                display: flex;
                align-items: center;
                gap: 16px;

                input {
                    width: 19.973px;
                    height: 19.97px;
                }

                p {
                    color: #18216D;
                    font-family: 'Inter';
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 18px;
                }
            }
        }

        button {
            width: 164px;
            height: 54px;
            flex-shrink: 0;
            border-radius: 6px;
            background: #005FEC;
            color: #FFF;
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            border: none;
        }
    }
}

.pricing {
    width: 1155px;
    height: 944px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 189px;

    .pricing-title {
        color: #18216D;
        text-align: center;
        font-family: 'Inter';
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 64px;
        letter-spacing: -1px;
        text-transform: capitalize;
    }

    .pricing-text {
        width: 542px;
        text-align: center;
        color: #18216D;
        text-align: center;
        font-family: 'Inter';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin-top: 20px;
    }

    .pricing-item1 {
        width: 272px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .pricing-back {
            width: 272px;
            height: 60px;
            border-radius: 6px;
            opacity: 0.1;
            background: #005FEC;
            position: absolute;
            z-index: -5;
        }

        .pricing-btn1 {
            width: 133px;
            height: 48px;
            border-radius: 6px;
            background: #FFF;
            color: #005FEC;
            font-family: 'Inter';
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: 17px;
            border: none;
        }

        .pricing-btn2 {
            width: 133px;
            height: 48px;
            background: transparent;
            border: none;
            color: #18216D;
            font-family: 'Inter';
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: 17px;
        }
    }

    .pricing-item2 {
        width: 1155px;
        height: 620px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 80px;

        .pricing-item2-info {
            width: 355px;
            height: 620px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            .pricing-item2-line {
                width: 355px;
                height: 1px;
                opacity: 0.2;
                background: #000;
                position: absolute;
                top: 160px;
            }

            .pricing-item2-back {
                width: 355px;
                height: 620px;
                border-radius: 10px;
                border: 1px solid #232629;
                opacity: 0.2;
                position: absolute;
                z-index: -2;
            }

            .pricing-item2-frame1 {
                width: 352px;
                height: 160px;
                display: flex;
                flex-direction: column;
                gap: 1px;
                border-radius: 10px 10px 0px 0px;
                background: #FFF;
                box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
                padding: 22px 41px;
                margin-top: 2px;

                h3 {
                    width: 63px;
                    height: 48px;
                    color: #18216D;
                    font-family: 'Inter';
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 48px;
                }

                h1 {

                    color: #18216D;
                    font-family: 'Inter';
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 48px;
                }

            }

            .pricing-item2-frame2 {
                width: 352px;
                height: 456px;
                border-radius: 0px 0px 10px 10px;
                background: #FFF;
                box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
                display: flex;
                flex-direction: column;
                padding: 39px 41px;
                gap: 40px;

                .pricing-item2-frame2-info {
                    width: 249px;
                    height: 269px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 16px;

                    .inp {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        p {
                            color: #18216D;
                            font-family: 'Poppins';
                            font-size: 17px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                        }

                        img {
                            width: 22px;
                            height: 22.393px;
                            flex-shrink: 0;
                        }
                    }
                }

                button {
                    width: 181px;
                    height: 52px;
                    flex-shrink: 0;
                    border-radius: 6px;
                    background: #d0e0f8;
                    color: #18216D;
                    font-family: 'Inter';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    border: none;
                }
            }
        }
    }
}