@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Slab&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 1600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav {
  width: 1400px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  width: 507px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
header nav ul a {
  text-decoration: none;
  color: #18216D;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
header nav .nav-btn {
  width: 239px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .nav-btn .btn1 {
  color: #18216D;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border: none;
  background-color: transparent;
  text-align: left;
}
header nav .nav-btn .btn2 {
  width: 136px;
  height: 52px;
  border-radius: 6px;
  background: #18216D;
  border: none;
  color: #FFF;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

section {
  width: 1140px;
  height: auto;
  margin-top: 40px;
}
section .home {
  width: 1140px;
  height: auto;
  display: flex;
  justify-content: space-between;
}
section .home .home-info {
  width: 498px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-top: 60px;
}
section .home .home-info h1 {
  width: 498px;
  color: #18216D;
  font-family: "Inter";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
section .home .home-info p {
  color: #18216D;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
section .home .home-info .home-btn {
  width: 180px;
  height: 66px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #00ECD0;
  color: #18216D;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  margin-top: 18px;
}
section .rating {
  width: 1140px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 122px;
}
section .rating h1 {
  width: 494px;
  color: #18216D;
  font-family: " Inter";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
}
section .rating .rating-item {
  display: flex;
  gap: 93px;
}
section .rating .rating-item .rating-info1 {
  width: 137px;
  height: 134px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
section .rating .rating-item .rating-info1 h1 {
  color: #18216D;
  font-family: "Inter";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
}
section .rating .rating-item .rating-info1 .rating-rasm {
  display: flex;
  gap: 5px;
}
section .rating .rating-item .rating-info1 p {
  width: 136px;
  color: #18216D;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}/*# sourceMappingURL=dotcom.css.map */