@media (max-width: 600px) {
  section {
    width: 335px;
    height: auto;
    margin-top: 45px;
  }
  section .home {
    width: 335px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  section .home .home-info {
    width: 100%;
    height: auto;
    align-items: center;
  }
  section .home .home-info h1 {
    width: 100%;
    font-size: 28px;
    line-height: 27px;
    text-align: center;
  }
  section .home .home-info p {
    width: 280px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }
  section .home .home-info .home-btn {
    width: 120px;
    height: 40px;
    font-size: 14px;
    margin-top: 33px;
  }
  section .home img {
    width: 350.023px;
    height: 300px;
    position: absolute;
    top: 320px;
    left: -50px;
  }
  section .rating {
    width: 335px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 400px;
  }
  section .rating h1 {
    width: 330px;
    height: 90px;
    font-size: 24px;
    line-height: 30px;
  }
  section .rating .rating-item {
    display: flex;
    gap: 76px;
    margin-top: 22px;
  }
  section .rating .rating-item .rating-info1 {
    width: 72.176px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  section .rating .rating-item .rating-info1 h1 {
    font-size: 28px;
    line-height: 30px;
  }
  section .rating .rating-item .rating-info1 .rating-rasm {
    display: flex;
    gap: 3px;
  }
  section .rating .rating-item .rating-info1 .rating-rasm img {
    width: 8px;
    height: 7px;
  }
  section .rating .rating-item .rating-info1 .rating-rasm .rating-rasm-yulduz {
    width: 100%;
  }
  section .rating .rating-item .rating-info1 p {
    width: 72px;
    font-size: 8px;
    line-height: 20px;
  }
  section .logos {
    width: 330px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 22px;
  }
  section .features {
    width: 335px;
    height: auto;
    align-items: center;
    margin-top: 52px;
  }
  section .features .features-info {
    width: 100%;
    height: auto;
  }
  section .features .features-info h1 {
    font-size: 24px;
    line-height: 24px;
    width: 222px;
  }
  section .features .features-info p {
    font-size: 14px;
    line-height: 20px;
    width: 335px;
    opacity: 0.5;
  }
  section .features .features-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  section .features .features-item .features-item-info {
    width: 320px;
    height: 212px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 40px;
  }
  section .features .features-item .features-item-info h1 {
    font-size: 20px;
  }
  section .features .features-item .features-item-info p {
    font-size: 16px;
    line-height: 24px;
    opacity: 0.5;
  }
  .calendar {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 120px;
  }
  .calendar .back {
    width: 100%;
    height: 100%;
  }
  .calendar .calendar-item {
    width: 335px;
    height: auto;
    flex-direction: column-reverse;
    gap: 90px;
  }
  .calendar .calendar-item img {
    width: 335px;
  }
  .calendar .calendar-item .calendar-info {
    width: 335px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .calendar .calendar-item .calendar-info h1 {
    font-size: 24px;
    line-height: 30px;
  }
  .calendar .calendar-item .calendar-info p {
    width: 330px;
    font-size: 14px;
    line-height: 20px;
    opacity: 0.8;
  }
  .calendar .calendar-item .calendar-info button {
    width: 120px;
    height: 40px;
    font-size: 14px;
  }
  .powering {
    width: 335px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-top: 130px;
  }
  .powering .powering-item {
    width: 335px;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .powering .powering-item .powering-img {
    width: 300px;
  }
  .powering .powering-item .powering-item-info {
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: -30px;
    right: -30px;
  }
  .powering .powering-item .powering-item-info .powering-weekly {
    width: 80px;
    height: 40px;
  }
  .powering .powering-item .powering-item-info button {
    width: 75px;
    height: 30px;
    font-size: 8px;
  }
  .powering .powering-item .powering-tocka {
    width: 80px;
    position: absolute;
    left: -20px;
    bottom: -14px;
  }
  .powering .powering-info {
    width: 335px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .powering .powering-info h1 {
    width: 335px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }
  .powering .powering-info .powering-text {
    width: 330px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    opacity: 0.5;
  }
  .powering .powering-info .powering-info-item .powering-frame {
    gap: 14px;
  }
  .powering .powering-info .powering-info-item .powering-frame input {
    width: 15px;
    height: 15px;
  }
  .powering .powering-info .powering-info-item .powering-frame p {
    font-size: 14px;
  }
  .powering .powering-info button {
    width: 120px;
    height: 40px;
    font-size: 12px;
    margin-top: 50px;
  }
  .pricing {
    width: 335px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
  }
  .pricing .pricing-title {
    font-size: 24px;
    line-height: 30px;
  }
  .pricing .pricing-text {
    width: 335px;
    font-size: 14px;
    line-height: 20px;
  }
  .pricing .pricing-item1 {
    width: 272px;
    height: 40px;
    margin-top: 30px;
  }
  .pricing .pricing-item1 .pricing-back {
    width: 272px;
    height: 40px;
  }
  .pricing .pricing-item1 .pricing-btn1 {
    width: 125px;
    height: 28px;
    font-size: 14px;
  }
  .pricing .pricing-item1 .pricing-btn2 {
    width: 125px;
    height: 28px;
    font-size: 14px;
  }
  .pricing .pricing-item2 {
    width: 335px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 80px;
  }
  .pricing .pricing-item2 .pricing-item2-info {
    width: 335px;
  }
  .pricing .pricing-item2 .pricing-item2-info .pricing-item2-line {
    width: 335px;
  }
  .pricing .pricing-item2 .pricing-item2-info .pricing-item2-back {
    width: 335px;
  }
  .pricing .pricing-item2 .pricing-item2-info .pricing-item2-frame1 {
    width: 333px;
    height: 160px;
  }
  .pricing .pricing-item2 .pricing-item2-info .pricing-item2-frame1 h3 {
    font-size: 20px;
  }
  .pricing .pricing-item2 .pricing-item2-info .pricing-item2-frame1 h1 {
    font-size: 30px;
  }
  .pricing .pricing-item2 .pricing-item2-info .pricing-item2-frame2 {
    width: 333px;
    height: 456px;
  }
  .pricing .pricing-item2 .pricing-item2-info .pricing-item2-frame2 .pricing-item2-frame2-info .inp p {
    font-size: 14px;
  }
  .pricing .pricing-item2 .pricing-item2-info .pricing-item2-frame2 .pricing-item2-frame2-info .inp img {
    width: 18px;
    height: 18px;
  }
  .pricing .pricing-item2 .pricing-item2-info .pricing-item2-frame2 button {
    width: 120px;
    height: 40px;
    font-size: 12px;
  }
  .testimonial {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    position: relative;
  }
  .testimonial .testimonial-back {
    width: 100%;
    height: 100%;
  }
  .testimonial .testimonial-item {
    width: 335px;
    flex-direction: column-reverse;
  }
  .testimonial .testimonial-item img {
    width: 335px;
    margin-top: 50px;
  }
  .testimonial .testimonial-item .testimonial-info {
    width: 335px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .testimonial .testimonial-item .testimonial-info h1 {
    font-size: 28px;
    line-height: 30px;
  }
  .testimonial .testimonial-item .testimonial-info p {
    width: 330px;
    font-size: 14px;
    line-height: 24px;
    margin-top: 35px;
  }
  .testimonial .testimonial-item .testimonial-info span {
    font-size: 16px;
    margin-top: 23px;
    text-align: left;
  }
  .testimonial .testimonial-item .testimonial-info h6 {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .footer {
    width: 1155px;
    height: auto;
    display: flex;
    align-items: flex-start;
    margin-top: 120px;
  }
  .footer .footer-metting {
    width: 248px;
    height: 166px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;
  }
  .footer .footer-metting p {
    width: 248px;
    color: #18216D;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.9;
  }
  .footer .footer-metting .download {
    width: 212px;
    display: flex;
    gap: 12px;
  }
  .footer .resources {
    width: 113px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
    margin-left: 55px;
  }
  .footer .resources h1 {
    color: #18216D;
    font-family: "Inter";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
  }
  .footer .resources ul {
    width: 117px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;
  }
  .footer .resources ul a {
    text-decoration: none;
    color: #18216D;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    opacity: 0.9;
  }
  .footer .contact {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
    margin-left: 128px;
  }
  .footer .contact h1 {
    color: #18216D;
    font-family: "Inter";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
  }
  .footer .contact ul {
    width: 300px;
    height: 120px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer .contact ul a {
    color: #18216D;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-decoration: none;
    opacity: 0.8;
  }
}/*# sourceMappingURL=media.css.map */