@media(max-width: 600px) {
    section {
        width: 335px;
        height: auto;
        margin-top: 45px;


        // HOME

        .home {
            width: 335px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            position: relative;

            .home-info {
                width: 100%;
                height: auto;
                align-items: center;

                h1 {
                    width: 100%;
                    font-size: 28px;
                    line-height: 27px;
                    text-align: center;
                }

                p {
                    width: 280px;
                    text-align: center;
                    font-size: 14px;
                    line-height: 20px;
                }

                .home-btn {
                    width: 120px;
                    height: 40px;
                    font-size: 14px;
                    margin-top: 33px;
                }
            }

            img {
                width: 350.023px;
                height: 300px;
                position: absolute;
                top: 320px;
                left: -50px;
            }
        }

        // HOME-FINISH
        // RATING

        .rating {
            width: 335px;
            height: auto;
            display: flex;
            flex-direction: column;
            margin-top: 400px;

            h1 {
                width: 330px;
                height: 90px;
                font-size: 24px;
                line-height: 30px;
            }

            .rating-item {
                display: flex;
                gap: 76px;
                margin-top: 22px;


                .rating-info1 {
                    width: 72.176px;
                    height: 60px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    // border: 1px solid red;

                    h1 {
                        font-size: 28px;
                        line-height: 30px;
                    }

                    .rating-rasm {
                        display: flex;
                        gap: 3px;

                        img {
                            width: 8px;
                            height: 7px;
                        }

                        .rating-rasm-yulduz {
                            width: 100%;
                        }
                    }

                    p {
                        width: 72px;
                        font-size: 8px;
                        line-height: 20px;
                    }
                }
            }
        }

        // RATING-FINISH


        // LOGOS

        .logos {
            width: 330px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
            margin-top: 22px;
        }


        // LOGOS-FINISH



        // FEATURES

        .features {
            width: 335px;
            height: auto;
            align-items: center;
            margin-top: 52px;

            .features-info {
                width: 100%;
                height: auto;

                h1 {
                    font-size: 24px;
                    line-height: 24px;
                    width: 222px;
                }

                p {
                    font-size: 14px;
                    line-height: 20px;
                    width: 335px;
                    opacity: 0.5;
                }
            }

            .features-item {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 40px;

                .features-item-info {
                    width: 320px;
                    height: 212px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                    margin-top: 40px;

                    h1 {
                        font-size: 20px;
                    }

                    p {
                        font-size: 16px;
                        line-height: 24px;
                        opacity: 0.5;
                    }
                }
            }
        }

        // FEATURES-FINISH

    }


    // CALENDAR

    .calendar {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 120px;

        .back {
            width: 100%;
            height: 600px;
        }

        .calendar-item {
            width: 335px;
            height: auto;
            flex-direction: column-reverse;
            gap: 90px;

            img {
                width: 335px;
            }

            .calendar-info {
                width: 335px;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;

                h1 {
                    font-size: 24px;
                    line-height: 30px;
                }

                p {
                    width: 330px;
                    font-size: 14px;
                    line-height: 20px;
                    opacity: 0.8;
                }

                button {
                    width: 120px;
                    height: 40px;
                    ;
                    font-size: 14px;
                }
            }
        }
    }

    // CALENDAR-FINISH


    // POWERING

    .powering {
        width: 335px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
        margin-top: 130px;

        .powering-item {
            width: 335px;
            height: auto;
            display: flex;
            justify-content: center;
            position: relative;

            .powering-img {
                width: 300px;
            }

            .powering-item-info {
                width: 100px;
                height: 70px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                position: absolute;
                bottom: -30px;
                right: -30px;

                .powering-weekly {
                    width: 80px;
                    height: 40px;
                }

                button {
                    width: 75px;
                    height: 30px;
                    font-size: 8px;
                }
            }


            .powering-tocka {
                width: 80px;
                position: absolute;
                left: -20px;
                bottom: -14px;
            }
        }

        .powering-info {
            width: 335px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            h1 {
                width: 335px;
                font-size: 24px;
                line-height: 30px;
                text-align: center;
            }

            .powering-text {
                width: 330px;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                opacity: 0.5;
            }

            .powering-info-item {

                .powering-frame {
                    gap: 14px;

                    input {
                        width: 15px;
                        height: 15px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }

            button {
                width: 120px;
                height: 40px;
                font-size: 12px;
                margin-top: 50px;
            }
        }
    }

    // POWERING-FINISH


    // PRICING

    .pricing {
        width: 335px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 150px;

        .pricing-title {
            font-size: 24px;
            line-height: 30px;
        }

        .pricing-text {
            width: 335px;
            font-size: 14px;
            line-height: 20px;
        }

        .pricing-item1 {
            width: 272px;
            height: 40px;
            margin-top: 30px;

            .pricing-back {
                width: 272px;
                height: 40px;
            }

            .pricing-btn1 {
                width: 125px;
                height: 28px;
                font-size: 14px;
            }

            .pricing-btn2 {
                width: 125px;
                height: 28px;
                font-size: 14px;
            }
        }

        .pricing-item2 {
            width: 335px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            margin-top: 80px;

            .pricing-item2-info {
                width: 335px;

                .pricing-item2-line {
                    width: 335px;
                }

                .pricing-item2-back {
                    width: 335px;
                }

                .pricing-item2-frame1 {
                    width: 333px;
                    height: 160px;

                    h3 {
                        font-size: 20px;
                    }

                    h1 {
                        font-size: 30px;
                    }

                }

                .pricing-item2-frame2 {
                    width: 333px;
                    height: 456px;

                    .pricing-item2-frame2-info {


                        .inp {

                            p {
                                font-size: 14px;
                            }

                            img {
                                width: 18px;
                                height: 18px;
                            }
                        }
                    }

                    button {
                        width: 120px;
                        height: 40px;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    // PRICING-FINISH


    // TESTIMONIAL


    .testimonial {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 130px;
        position: relative;

        .testimonial-back {
            width: 100%;
            height: 800px;
        }

        .testimonial-item {
            width: 335px;
            flex-direction: column-reverse;

            .testimonial-animation {
                width: 335px;
                height: 335px;
    
                .animation-rs1 {
                    width: 95px;
                    position: absolute;
                    left: 114px;
                    bottom: 280px;
                }
    
                .animation-rs2 {
                    width: 95px;
                    position: absolute;
                    left: 114px;
                    top: 285px;
                }
    
                .animation-rs3 {
                    position: absolute;
                    right: 280px;
                    bottom: 110px;
                    width: 95px;

                }
    
                .animation-rs4 {
                    position: absolute;
                    left: 280px;
                    bottom: 110px;
                    width: 95px;
                }
    
                .testimonial-animation2 {
                    width: 175.821px;
                    height: 175.821px;

                    .animation-rs5 {
                        width: 85px;
                        position: absolute;
                        right: 105px;
                        bottom: 95px;
                    }
    
                    .animation-rs6 {
                        width: 85px;
                        position: absolute;
                        right: 110px;
                        top: 100px;
                    }
    
                    .animation-rs7 {
                        width: 85px;
                        position: absolute;
                        left: 110px;
                        top: 100px;
                    }
    
                    .animation-rs8 {
                        width: 85px;
                        position: absolute;
                        left: 105px;
                        bottom: 95px;
                    }
                }
            }

            .testimonial-info {
                width: 335px;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                h1 {
                    font-size: 28px;
                    line-height: 30px;
                }

                p {
                    width: 330px;
                    font-size: 14px;
                    line-height: 24px;
                    margin-top: 35px;
                }

                span {
                    font-size: 16px;
                    margin-top: 23px;
                    text-align:
                        left;
                }

                h6 {
                    font-size: 12px;
                    margin-bottom: 20px;
                }
            }
        }
    }


    // TESTIMONIAL-FINISH



    // FOOTER

    .footer {
        width: 335px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        margin-top: 120px;

        .footer-metting {
            width: 148px;
            height: auto;

            p {
                width: 148px;
                font-size: 12px;
            }

            .download {
                width: 148px;
                display: flex;
                gap: 12px;
            }
        }

        .resources {
            width: 113px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 31px;
            margin-left: 0px;

            ul {
                width: 117px;
                height: 200px;

                a {
                    font-size: 14px;
                }
            }
        }

        .contact {
            width: 300px;
            margin-left: 0px;


            ul {
                width: 300px;

                a {
                    font-size: 14px;
                }
            }
        }
    }


    // FOOTER-FINISH

    .line {
        width: 335px;
        height: 1px;
    }
    
    .end {
        font-size: 12px;
    }

}